<div class="page-width"{% if section.settings.background %} style="background-color: {{ section.settings.background_color }}; padding: 20px;"{% endif %}>
  {{ section.settings.custom_html }}
</div>



{% schema %}
{
  "name": {
    "de": "Benutzerdefiniertes HTML",
    "en": "Custom HTML",
    "es": "HTML personalizado",
    "fr": "Code HTML personnalisé",
    "it": "HTML personalizzato",
    "ja": "HTMLをカスタムする",
    "nl": "Aangepaste HTML",
    "pt-BR": "HTML personalizado",
    "zh-CN": "自定义 HTML",
    "zh-TW": "自訂 HTML"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "html",
      "id": "custom_html",
      "label": {
        "de": "Benutzerdefiniertes HTML",
        "en": "Custom HTML",
        "es": "HTML personalizado",
        "fr": "Code HTML personnalisé",
        "it": "HTML personalizzato",
        "ja": "HTMLをカスタムする",
        "nl": "Aangepaste HTML",
        "pt-BR": "HTML personalizado",
        "zh-CN": "自定义 HTML",
        "zh-TW": "自訂 HTML"
      },
      "default": {
        "de": "<h2>Informieren Sie über Ihre Marke</h2><p>Formatieren Sie Ihren Text mit HTML, damit er leichter lesbar ist. Mit diesem Text können Sie Ihre Kunden über Ihre Marke informieren.</p>",
        "en": "<h2>Talk about your brand</h2><p>Use HTML to format your text so it can be easily read. This text can be used to share information about your brand with customers.</p>",
        "es": "<h2>Habla sobre tu marca</h2><p>Usa HTML para formatear tu texto para que se pueda leer fácilmente. Este texto se puede usar para compartir información sobre tu marca con los clientes.</p>",
        "fr": "<h2>Parlez de votre marque</h2><p>Utilisez le code HTML pour formater votre texte afin qu'il puisse être facilement lu. Vous pouvez utiliser ce texte pour partager des informations sur votre marque avec les clients.</p>",
        "it": "<h2>Parla del tuo brand</h2><p>Utilizza l'HTML per formattare il testo in modo che sia facilmente leggibile. Questo testo può essere utilizzato per condividere le informazioni sul tuo brand con i clienti.</p>",
        "ja": "<h2>あなたのブランドについて話す</h2><p>HTMLを使用してテキストを読みやすくフォーマットしてください。このテキストはあなたのブランドに関する情報をお客様と共有するために使用できます。</p>",
        "nl": "<h2>Praat over uw merk</h2><p>Gebruik HTML om uw tekst zo op te maken dat deze makkelijk leesbaar is. Deze tekst kan worden gebruikt om informatie over uw merk met klanten te delen.</p>",
        "pt-BR": "<h2>Fale sobre sua marca</h2><p>Use HTML para formatar seu texto para que ele possa ser lido com facilidade. Esse texto pode ser usado para compartilhar informações sobre sua marca com os clientes.</p>",
        "zh-CN": "<h2>谈论您的品牌</h2><p>使用 HTML 设置文本格式，以便轻松阅读。此文本可用于与客户分享有关您的品牌的信息。</p>",
        "zh-TW": "<h2>描述您的品牌</h2><p>使用 HTML 設定文字格式，使文字容易閱讀。這段文字可以用來與客戶分享您的品牌資訊。</p>"
      }
    },
	{
	  "type": "checkbox",
	  "id": "background",
	  "label": "Use background color"
	},
	{
	  "type": "color",
	  "id": "background_color",
	  "label": "Color"
	}
  ],
  "presets": [
    {
      "name": {
        "de": "Benutzerdefiniertes HTML",
        "en": "Custom HTML",
        "es": "HTML personalizado",
        "fr": "Code HTML personnalisé",
        "it": "HTML personalizzato",
        "ja": "HTMLをカスタムする",
        "nl": "Aangepaste HTML",
        "pt-BR": "HTML personalizado",
        "zh-CN": "自定义 HTML",
        "zh-TW": "自訂 HTML"
      },
      "category": {
        "de": "Advanced",
        "en": "Advanced",
        "es": "Avanzado",
        "fr": "Advanced",
        "it": "Advanced",
        "ja": "高度",
        "nl": "Advanced",
        "pt-BR": "Advanced",
        "zh-CN": "高级版",
        "zh-TW": "Advanced"
      }
    }
  ]
}
{% endschema %}
